body {
  background-color: lavender;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  color: lavender;
}

.mainPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.maindiv {
  background-color: teal;
  color: lavender;
  width: 600px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 4px 4px 16px teal;
}

.maindiv button {
  width: 30%;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid teal;
  color: teal;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 15px;
}

.maindiv button:hover {
  border: 2px solid lavender;
  background-color: teal;
  color: lavender;
}

.mainInput select {
  cursor: pointer;
  width: 15%;
  padding: 5px 7px;
  border-radius: 20px;
}

.mainInput input {
  width: 30%;
  border-radius: 20px;
  border: 1px solid teal;
  padding: 5px;
}

footer {
  text-align: center;
  color: teal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 90, 90);
}